.containerList{
    margin:30px 0;
}

.list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;

    @media (min-width: 760px) and (max-width:1024px){
        gap:100px;
    }

    @media (min-width: 1024px){
        gap:200px;
    }

    &-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--background-element);
        box-shadow: 3px 5px 4px var(--border-element);
        transition: all 600ms ease-out;
        
        &-title{
            display: flex;
        }

        &-icon{
            display: flex;
            background-color: white;
            border-radius: 25px;
            font-size: 25px;
            padding: 0 10px;
            margin-top:5px;
        }

        &-place{
            display: flex;
        }
        &-date{
            display: flex;
        }
    }
    &-detail:hover{
        cursor: pointer;
        background: linear-gradient(0deg,rgba(188, 151, 240, 1) 0%, rgba(159, 74, 224, 1) 100%);
        color:white;
        font-weight: 700;
    }
}
.skills{

    &-title{
        display: flex;
        justify-content: center;
        gap:40px;

        @media (min-width:760px){
            gap:150px;
        }
        
        & i{
            border-radius: 25px;
        }
        & i:hover{
            cursor: pointer;
        }
    }
    &-list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:10px auto;
        

        @media (min-width:760px) {
            width:80%
        }
        &-card{
            display: flex;
            flex-direction: column;
            margin: 5px 5px;
            align-items: center;
            &-name{
                font-weight: 700;
            }
            &-rating{
                display: flex;
                align-items: center;
            }
        }
    }
}