:root {
  --background-element: #f5eafe;
  --border-element:#8a04f9;
  --background-actif: #9721fa;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 760px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-family: "Akaya Kanadaka", system-ui, sans-serif;
  font-size: 22px;
  margin: 0;
}
@media (min-width: 760px) and (max-width: 1040px) {
  h1 {
    font-size: 35px;
  }
}
@media (min-width: 1040px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  margin: 0;
  font-size: 16px;
}
@media (min-width: 760px) and (max-width: 1040px) {
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 1040px) {
  h2 {
    font-size: 30px;
  }
}

h3, h4, p {
  margin: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--background-element);
}

.header-text {
  display: flex;
  gap: 10px;
}

.container {
  min-width: 320px;
  max-width: 1440px;
}

.showing {
  display: flex;
  flex-direction: column;
  background: #EEAECA;
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(170, 113, 235) 100%);
}
.showing-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
@media (min-width: 760px) {
  .showing-title {
    margin: 30px auto;
  }
}
.showing-title-picture {
  width: 30%;
  margin-right: 10px;
}
.showing-title-picture img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.showing-title-name {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 60%;
}
@media (min-width: 760px) {
  .showing-title-name {
    align-items: center;
  }
}
.showing-title-name-me {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
}
.showing-title-name-menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.showing-title-name-menu a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: var(--background-element);
  padding: 5px;
  border: 1px solid var(--border-element);
  box-shadow: 3px 3px 2px var(--border-element);
  border-radius: 15px;
  text-align: center;
  transition: all 600ms ease-out;
}
@media (min-width: 720px) {
  .showing-title-name-menu a {
    padding: 10px;
  }
}
.showing-title-name-menu a:hover, .showing-title-name-menu a:focus {
  background: linear-gradient(0deg, rgb(188, 151, 240) 0%, rgb(159, 74, 224) 100%);
  color: white;
  font-weight: 700;
}
.showing-icon-link {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  background-color: var(--background-element);
}
.aboutme-title {
  display: flex;
}
.aboutme-description {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.aboutme-description img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutme-description-text {
  width: 70%;
  text-align: center;
}
.aboutme-quality {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.training {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEAECA;
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(170, 113, 235) 100%);
  padding: 10px 5px;
}
.training-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.training-skills {
  display: flex;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-element);
}
.project-title {
  display: flex;
  margin: 5px 0;
}
.project-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0;
}
.project-categories-items {
  padding: 10px 5px;
  background: linear-gradient(0deg, rgb(188, 151, 240) 0%, rgb(159, 74, 224) 100%);
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 2px var(--border-element);
  width: 110px;
  text-align: center;
  font-weight: 700;
  transition: all 600ms ease-in-out;
}
.project-categories-items:hover, .project-categories :active {
  cursor: pointer;
  background: var(--background-actif);
}
.project-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  grid-row-gap: 20px;
  margin: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEAECA;
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(170, 113, 235) 100%);
  padding: 20px 0;
}
.contact-title {
  display: flex;
  margin: 10px 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.contact-form input {
  height: 25px;
  border-radius: 5px;
  border-color: inherit;
  background-color: var(--background-element);
  border-style: inherit;
  box-shadow: 3px 3px 2px var(--border-element);
}
.contact-form label {
  margin-bottom: 5px;
}
.contact-form-name {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.contact-form-name-lastname {
  display: flex;
  flex-direction: column;
  color: #50018a;
  font-weight: 700;
}
.contact-form-name-firstname {
  display: flex;
  flex-direction: column;
}
.contact-form-contact {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.contact-form-contact-email {
  display: flex;
  flex-direction: column;
  color: #50018a;
  font-weight: 700;
}
.contact-form-contact-tel {
  display: flex;
  flex-direction: column;
}
.contact-form-objet {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: #50018a;
  font-weight: 700;
}
.contact-form-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: #50018a;
  font-weight: 700;
}
.contact-form-message textarea {
  background-color: var(--background-element);
  box-shadow: 3px 3px 2px var(--border-element);
  height: 50px;
  border-radius: 5px;
  border-style: inherit;
}
.contact-form-info {
  font-size: 12px;
  color: #50018a;
  font-weight: 700;
}
.contact-button {
  width: 70%;
  margin: 20px 0;
  background: linear-gradient(0deg, rgb(188, 151, 240) 0%, rgb(160, 53, 242) 100%);
  box-shadow: 3px 3px 2px var(--border-element);
  border-style: inherit;
  padding: 5px;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  margin: 0 15px;
}
.contact-details img {
  width: 30%;
}
.contact-details-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-details-name p {
  margin: 5px 0;
}
.contact-details-name i {
  margin-right: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: var(--background-element);
}

.footer-text {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
  font-size: 12px;
}
.footer-text-admin {
  display: flex;
  gap: 8px;
}/*# sourceMappingURL=index.css.map */